# This is used to point Athens to an archive on a USB drive called "KINGSTON" on
# a volume on Mac OS X systems. Probably obviously this is a USB drive. Comment
# this out and uncomment the next "export" command to use the archive in this repo
export ATHENS_ARCHIVE="/Volumes/KINGSTON/athens-archive"
# export ATHENS_ARCHIVE="${PWD}/athens-archive"